/* styleSheet.css Alpha Iteration 2

NOTES:
 -Default text is Calibri.
 -Can call "italic" for all headers.
 -Default text color is black.
 -Background color is gray #d1d3d4.
 -All text aligns to center.
 -h1 size = 40px ; h2 size = 25px. h3 size = 15px;

*/

body {
	background-color: #d1d3d4;
	text-align: center;
	color: black;
}
	
h1{
	font-family: "Calibri";
	font-size: 40px;
	text-align: center;
}

h2{
	font-family: "Calibri";
	font-size: 25px;
	text-align: center;
}

h3{
	font-family: "Calibri";
	font-size: 15px;
	text-align: center;
}

h1.italic {
    font-style: italic;
}

h2.italic {
    font-style: italic;
}

h3.italic {
    font-style: italic;
}
