/*   login
	 
     Style sheet for the login page

     Created by The Exceptions (Justin, Paul, Zack, Behram, Bradley)
*/

html,body { /* <---- HTML and Body */
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("Kobe_Background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0;
}
input[type=text], input[type=password] { /* <---- Input text and password */
    background-color: white;
    padding: 12px 20px;
    margin: 8px 50px ;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border-radius: 10px;
	width: 300px;
}
input[type=submit]{ /* <---- Input submit */
	margin-left: 134px;
}
.login{ /* <---- Login */
    border: 3px solid;
	border-color: black;
	padding:10px;
	width: 400px;
	margin: auto;
	height: 345px;
	background-color:#d1d3d4;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.topLogin{ /* <---- topLogin */
	border: 3px solid;
	border-color: black;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding:10px;
	width: 400px;
	margin: auto;		
	background-color:  #c2011b;
	color: #FFFFFF;
}
.psw{ /* <---- password */
	margin: 0 23px;
}
h2{ /* <---- Header 2 */
	background-color:  #c2011b;
	padding-left: 30px;
	align: left;
	font-family: 'PT Sans Narrow', sans-serif;
}
label2{ /* <---- Label 2 */
	padding-left: 25px;
}
a{ /* <---- a */
	
	padding-left: 125px;
	padding-right: 0px;
	color: Black;
	text-decoration: none;
}

a[type=pass]{ /* <---- Type pass */
	
	padding-left: 135px;
	padding-right: 0px;
	color: Black;
	text-decoration: none;
}
.tooltip { /* <---- toolTip */
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext { /* <---- toolTip and toolTipText */
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
	margin-top: 600px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after { /* <---- toolTip and toolTipText */
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext { /* <---- toolTip and toolTipText */
    visibility: visible;
    opacity: 1;
}